@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

header {
    position: sticky;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    background-color: white;
    color: black;
    box-shadow: 0 -6px 10px 5px rgba(0, 0, 0, 0.5);
}

.header-left h1 {
    margin: 0;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
    color: rgba(75, 75, 75, 1);

}

.header-right button {
    font-size: 12px;
    margin-left: 10px;
    font-weight: bold;
    color: rgba(75, 75, 75, 1);
    font-family: 'Open Sans', sans-serif;
}
