@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

.project-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
    margin: 0;
    background-image: url("../assets/4403214_18410.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.project {
    display: flex;
    align-items: center;
    width: 750px;
    height: 250px;
    border-radius: 24px;
    border: 1px solid rgba(75, 75, 75, 1);
    padding: 10px;
    background-color: white;
}

.project-image1, .project-image2 {
    height: 75%;
    width: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 20px;
    background-size:cover ;
}

.project-image1 {
    background-image: url('../assets/mainapp.jpg');
}

.project-image2 {
    background-image: url('../assets/simplecalculator.jpg');
}


.project-description {
    flex: 1;
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: rgba(75, 75, 75, 1);

}

.project-title {
    font-family: 'Open Sans', sans-serif;
}
